


<div class="footer">
    
    <div class="footmain"><div class="left copy">
     版权所有 天津中车机辆装备有限公司
            <br>
            主管：管理信息部	 
			<br>
             联系地址 天津河北区南口路22号 邮政编码 300232
            <br>

</script></div>
    </div>
<div class="bh" style="clear:both;height:1px; line-height:1px; font-size:1px;"></div>    
  </div>
<script type="text/javascript">
$(function(){
	$(".picbig").each(function(i){
		var cur = $(this).find('.img-wrap').eq(0);
		var w = cur.width();
		var h = cur.height();
	   $(this).find('.img-wrap img').LoadImage(true, w, h,'http://www.gxll.gov.cn/statics/images/msg_img/loading.gif');
	});
})
</script>
<script type="text/javascript">
    $(function() {

        new slide("#main-slide", "cur", 340, 255, 1); //焦点图
        new SwapTab(".SwapTab00", "li", ".tab-content00", "ul", "fb"); //新闻TAB
        new SwapTab(".SwapTab01", "li", ".tab-content01", "ul", "fb"); //新闻TAB
        new SwapTab(".SwapTab02", "li", ".tab-content02", "ul", "fb"); //政务TAB
        new SwapTab(".SwapTab03", "li", ".tab-content03", "ul", "fb"); //政务TAB
        new SwapTab(".SwapTab04", "li", ".tab-content04", "ul", "fb"); //政务TAB
        new SwapTab(".SwapTab05", "li", ".tab-content05", "ul", "fb"); //政务TAB
        new SwapTab(".SwapTab06", "li", ".tab-content06", "div", "fb"); //政务TAB
        new SwapTab(".SwapTab07", "li", ".tab-content07", "ul", "fb"); //政务TAB
    })

    jQuery(".Ebookbox").slide({
        mainCell: ".bd ul",
        autoPlay: true,
        effect: "fold"
    });
</script>



 <!--<div id="__trunoffthelights_view_cover" style="width: 100%; height: 100%; transition: -webkit-transform 10s ease-in-out; position: fixed !important; left: 0px !important; bottom: 0px !important; overflow: hidden !important; pointer-events: none !important; z-index: 2147483647; opacity: 0; background: rgb(0, 0, 0) !important;"></div>-->
<script language="JavaScript" src=""></script>
</body></html>