<DIV class="link">
<UL class="sel-link"><SELECT onchange="javascript:if(this.selectedIndex!=0)window.open(this.options[this.selectedIndex].value,'_Blank');"><OPTION>信息平台</OPTION> 
                <OPTION value="http://www.sasac.gov.cn/" 
    target="_blank">信息平台</OPTION>             <OPTION value="http://www.bjgzw.gov.cn/" 
    target="_blank">信息平台</OPTION>             <OPTION value="http://www.tjsa.gov.cn/" 
    target="_blank">信息平台</OPTION>             <OPTION value="http://www.hbsa.gov.cn/" 
    target="_blank">信息平台</OPTION>                 </SELECT>         <SELECT onchange="javascript:if(this.selectedIndex!=0)window.open(this.options[this.selectedIndex].value,'_Blank');"><OPTION>天津</OPTION> 
                <OPTION value="http://www.dl.gov.cn/main.html" 
    target="_blank">天津</OPTION>         </SELECT>         <!-- <select name="" onchange="javascript:if(this.selectedIndex!=0)window.open(this.options[this.selectedIndex].value,'_Blank');">
            <option>国资委业务相关门户网站</option>
        </select> -->
  	&nbsp;&nbsp;&nbsp; <A href="http://www.dl.gov.cn/" target="_blank">
	<!--<IMG 
  style="width: 110px; height: 28px;" 
  src="__HOME__/images/zgdl.jpg">--></A>     </UL></DIV>