<DIV class="i_menu_conpad" id="i_nav_pad2">
<DIV class="top-arr2"></DIV>
<DIV class="nav_pad_content line02_pad  bg-pic" style="text-align: center;">
<DIV class="zw_zzjg">
<UL>

   {volist name="childL1" id ="childl1"}

  <LI class="link-ty link3"><A href="{:url('artlist/index',array('cateid'=>$childl1['id']))}" 
  target="_blank">{$childl1.catename}</A></LI>
 
  {/volist}
                              
  <LI class="line"></LI>
  <LI class="link-tyL link14"><A href="http://www.gzw.dl.gov.cn/newsQueryList_721_.html?isXxgk=y" 
  target="_blank">信息公开</A></LI></UL></DIV></DIV></DIV><!-- 暂时注掉  -->         
                                                                <!-- </div>      
                    </div>
            	</div>
            </div> --> 