<DIV class="i_menu_conpad" id="i_nav_pad3">
<DIV class="top-arr3"></DIV>
<DIV class="nav_pad_content line03_pad bg-pic">
<DIV class="gzjg">
<DIV class="new">
<UL class="tab">
  <LI class="tab1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_722_.html?isGzdt=y">法制建设</A></LI>
  <LI class="tab1_1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_702_.html?isGzdt=y">财务管理</A> 
  </LI>
  <LI class="tab1_1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_700_.html?isGzdt=y">改革工作</A> 
  </LI></UL>
<DIV class="l_show">
<UL class="list-l">
  <LI><A title="市国资委组织出资企业参加国务院国资委举办的第十三期法治讲堂视频培训学习" href="http://www.gzw.dl.gov.cn/news/view_90249.html" 
  target="_blank">市国资委组织出资企业参加国务院国资委举办的...</A><SPAN>2017-09-01</SPAN></LI>
  <LI><A title="为企业做强做优做大撑起一片法治天空" href="http://www.gzw.dl.gov.cn/news/view_89487.html" 
  target="_blank">为企业做强做优做大撑起一片法治天空</A><SPAN>2017-05-16</SPAN></LI>
  <LI><A title="市国资委2016年度法治政府建设进展情况的报告" href="http://www.gzw.dl.gov.cn/news/view_89167.html" 
  target="_blank">市国资委2016年度法治政府建设进展情况的...</A><SPAN>2017-03-23</SPAN></LI>
  <LI><A title="市国资委组织出资企业参加“问诊于企”专题调研" href="http://www.gzw.dl.gov.cn/news/view_89155.html" 
  target="_blank">市国资委组织出资企业参加“问诊于企”专题调...</A><SPAN>2017-03-20</SPAN></LI>
  <LI><A title="市国资委参加地方国资委政策法规工作座谈会" href="http://www.gzw.dl.gov.cn/news/view_89153.html" 
  target="_blank">市国资委参加地方国资委政策法规工作座谈会</A><SPAN>2017-03-20</SPAN></LI>
  <LI><A title="市国资委举办国资系统指导监督暨出资企业法治建设培训班" href="http://www.gzw.dl.gov.cn/news/view_88975.html" 
  target="_blank">市国资委举办国资系统指导监督暨出资企业法治...</A><SPAN>2017-03-01</SPAN></LI>
  <LI><A title="市国资委参加全市法治宣传教育工作会议" href="http://www.gzw.dl.gov.cn/news/view_88848.html" 
  target="_blank">市国资委参加全市法治宣传教育工作会议</A><SPAN>2017-02-16</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_722_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="display: none;">
<UL class="list-l">
  <LI><A title="2016年市国资委出资企业总体保持平稳发展态势" href="http://www.gzw.dl.gov.cn/news/view_88865.html" 
  target="_blank">2016年市国资委出资企业总体保持平稳发展...</A><SPAN>2017-02-17</SPAN></LI>
  <LI><A title="市国资委布置2016年度企业财务决算工作" href="http://www.gzw.dl.gov.cn/news/view_88559.html" 
  target="_blank">市国资委布置2016年度企业财务决算工作</A><SPAN>2016-12-26</SPAN></LI>
  <LI><A title="市国资委召开出资企业融资业务座谈会" href="http://www.gzw.dl.gov.cn/news/view_76398.html" 
  target="_blank">市国资委召开出资企业融资业务座谈会</A><SPAN>2016-03-07</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_702_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="display: none;">
<UL class="list-l">
  <LI><A title="市国资委招商引资工作在全省遥遥领先" href="http://www.gzw.dl.gov.cn/news/view_88862.html" 
  target="_blank">市国资委招商引资工作在全省遥遥领先</A><SPAN>2017-02-17</SPAN></LI>
  <LI><A title="市直党政机关所属企业脱钩改制工作全面完成" href="http://www.gzw.dl.gov.cn/news/view_88861.html" 
  target="_blank">市直党政机关所属企业脱钩改制工作全面完成</A><SPAN>2017-02-17</SPAN></LI>
  <LI><A title="驻连央企“三供一业”分离移交工作取得阶段性成果" href="http://www.gzw.dl.gov.cn/news/view_88860.html" 
  target="_blank">驻连央企“三供一业”分离移交工作取得阶段性...</A><SPAN>2017-02-17</SPAN></LI>
  <LI><A title="市国资委多措并举推进国有企业股权多元化进程混合所有制改革的实效显著" href="http://www.gzw.dl.gov.cn/news/view_88859.html" 
  target="_blank">市国资委多措并举推进国有企业股权多元化进程...</A><SPAN>2017-02-17</SPAN></LI>
  <LI><A title="大连市市直党政机关所属企业脱钩改制工作全面完成" href="http://www.gzw.dl.gov.cn/news/view_88590.html" 
  target="_blank">大连市市直党政机关所属企业脱钩改制工作全面...</A><SPAN>2016-12-30</SPAN></LI>
  <LI><A title="市体制创新领导小组办公室召开专题会议部署2016年脱钩改制工作" href="http://www.gzw.dl.gov.cn/news/view_75238.html" 
  target="_blank">市体制创新领导小组办公室召开专题会议部署2...</A><SPAN>2016-01-25</SPAN></LI>
  <LI><A title="辽宁省深化国资国企改革领导小组办公室来连检查指导脱钩改制工作" href="http://www.gzw.dl.gov.cn/news/view_73617.html" 
  target="_blank">辽宁省深化国资国企改革领导小组办公室来连检...</A><SPAN>2015-11-26</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_700_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV></DIV></DIV>
<DIV class="gzjg">
<DIV class="new">
<UL class="tab">
  <LI class="tab1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_701_.html?isGzdt=y">产权管理</A></LI>
  <LI class="tab1_1" style="width: 180px;"><A href="http://www.gzw.dl.gov.cn/newsQueryList_724_.html?isGzdt=y">企业领导人管理</A> 
  </LI>
  <LI class="tab1_1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_725_.html?isGzdt=y">其他工作</A> 
  </LI></UL>
<DIV class="l_show">
<UL class="list-l">
  <LI><A title="国投集团按照市国资委统一部署开展清理整合下属企业相关工作" href="http://www.gzw.dl.gov.cn/news/view_89819.html" 
  target="_blank">国投集团按照市国资委统一部署开展清理整合下...</A><SPAN>2017-06-29</SPAN></LI>
  <LI><A title="盘活土地资产  支持盐化集团食用盐提升改造工程" href="http://www.gzw.dl.gov.cn/news/view_89818.html" 
  target="_blank">盘活土地资产  支持盐化集团食用盐提升改造...</A><SPAN>2017-06-29</SPAN></LI>
  <LI><A title="产权处力促产权交易系统整合  推进规范、透明、具有竞争力的产权市场建设" href="http://www.gzw.dl.gov.cn/news/view_88872.html" 
  target="_blank">产权处力促产权交易系统整合  推进规范、透...</A><SPAN>2017-02-17</SPAN></LI>
  <LI><A title="市国资委全力推进4户国有平台公司清理整顿下属企业" href="http://www.gzw.dl.gov.cn/news/view_88118.html" 
  target="_blank">市国资委全力推进4户国有平台公司清理整顿下...</A><SPAN>2016-11-04</SPAN></LI>
  <LI><A title="市国资委巧借微信平台  助推大连市企业脱钩改制工作顺利进行" href="http://www.gzw.dl.gov.cn/news/view_76197.html" 
  target="_blank">市国资委巧借微信平台  助推大连市企业脱钩...</A><SPAN>2016-03-02</SPAN></LI>
  <LI><A title="市国资委分类整合平台公司股权  助推我市国有企业改革" href="http://www.gzw.dl.gov.cn/news/view_75037.html" 
  target="_blank">市国资委分类整合平台公司股权  助推我市国...</A><SPAN>2016-01-20</SPAN></LI>
  <LI><A title="发挥建投集团平台作用  助推存量资产转型PPP项目" href="http://www.gzw.dl.gov.cn/news/view_72457.html" 
  target="_blank">发挥建投集团平台作用  助推存量资产转型P...</A><SPAN>2015-10-29</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_701_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="display: none;">
<UL class="list-l">
  <LI><A title="干部选拔任用公告" href="http://www.gzw.dl.gov.cn/news/view_89686.html" 
  target="_blank">干部选拔任用公告</A><SPAN>2017-06-12</SPAN></LI>
  <LI><A title="市国资委高质量完成干部档案报送工作" href="http://www.gzw.dl.gov.cn/news/view_89214.html" 
  target="_blank">市国资委高质量完成干部档案报送工作</A><SPAN>2017-04-05</SPAN></LI>
  <LI><A title="市国资委召开全系统2017年领导干部个人有关事项报告表填报辅导培训会" href="http://www.gzw.dl.gov.cn/news/view_89201.html" 
  target="_blank">市国资委召开全系统2017年领导干部个人有...</A><SPAN>2017-04-01</SPAN></LI>
  <LI><A title="市国资委系统隆重召开纪念建党95周年“一先两优”表彰大会" href="http://www.gzw.dl.gov.cn/news/view_81778.html" 
  target="_blank">市国资委系统隆重召开纪念建党95周年“一先...</A><SPAN>2016-07-01</SPAN></LI>
  <LI><A title="大连市国资委公开招聘公告" href="http://www.gzw.dl.gov.cn/news/view_79738.html" 
  target="_blank">大连市国资委公开招聘公告</A><SPAN>2016-05-20</SPAN></LI>
  <LI><A title="市国资委召开“两学一做”学习教育工作会议" href="http://www.gzw.dl.gov.cn/news/view_78797.html" 
  target="_blank">市国资委召开“两学一做”学习教育工作会议</A><SPAN>2016-05-03</SPAN></LI>
  <LI><A title="市国资委召开大连国资系统外事工作会议" href="http://www.gzw.dl.gov.cn/news/view_72677.html" 
  target="_blank">市国资委召开大连国资系统外事工作会议</A><SPAN>2015-11-04</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_724_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="display: none;">
<UL class="list-l">
  <LI><A title="市国资委召开安全生产紧急工作会议" href="http://www.gzw.dl.gov.cn/news/view_90644.html" 
  target="_blank">市国资委召开安全生产紧急工作会议</A><SPAN>2017-11-03</SPAN></LI>
  <LI><A title="市国资委召开出资企业“十九大”期间暨四季度安全生产工作会议" href="http://www.gzw.dl.gov.cn/news/view_90532.html" 
  target="_blank">市国资委召开出资企业“十九大”期间暨四季度...</A><SPAN>2017-10-20</SPAN></LI>
  <LI><A title="市国资委召开出资企业第三季度安全生产工作会议" href="http://www.gzw.dl.gov.cn/news/view_90055.html" 
  target="_blank">市国资委召开出资企业第三季度安全生产工作会...</A><SPAN>2017-08-07</SPAN></LI>
  <LI><A title="市国资召开出资企业老干部工作半年总结会" href="http://www.gzw.dl.gov.cn/news/view_89912.html" 
  target="_blank">市国资召开出资企业老干部工作半年总结会</A><SPAN>2017-07-17</SPAN></LI>
  <LI><A title="国资委离退休党总支部召开机关退休支部改选会议" href="http://www.gzw.dl.gov.cn/news/view_89665.html" 
  target="_blank">国资委离退休党总支部召开机关退休支部改选会...</A><SPAN>2017-06-09</SPAN></LI>
  <LI><A title="市国资协会学习传达“国资委系统深入学习习近平总书记参加辽宁代表团审议时重要讲话精神座谈会”会议精神" href="http://www.gzw.dl.gov.cn/news/view_89316.html" 
  target="_blank">市国资协会学习传达“国资委系统深入学习习近...</A><SPAN>2017-04-21</SPAN></LI>
  <LI><A title="市国资委召开系统企业第二季度安全生产工作会议" href="http://www.gzw.dl.gov.cn/news/view_89315.html" 
  target="_blank">市国资委召开系统企业第二季度安全生产工作会...</A><SPAN>2017-04-21</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_725_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV></DIV></DIV></DIV></DIV>