<DIV class="i_menu_conpad" id="i_nav_pad4">
<DIV class="top-arr4"></DIV>
<DIV class="nav_pad_content line04_pad bg-pic">
<DIV class="gzjg">
<DIV class="new">
<UL class="tab">
  <LI class="tab1"><A 
  href="http://www.gzw.dl.gov.cn/newsQueryList_704_.html">经济运行</A> </LI>
  <LI class="tab1_1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_705_.html?isGzdt=y">规划发展</A> 
  </LI>
  <LI class="tab1_1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_726_.html?isGzdt=y">科技创新</A></LI></UL>
<DIV class="l_show" style="height: 290px;">
<UL class="list-l">
  <LI><A title="三季度市国资委出资企业实现营业收入、利润双增长" href="http://www.gzw.dl.gov.cn/news/view_90587.html" 
  target="_blank">三季度市国资委出资企业实现营业收入、利润双...</A><SPAN>2017-10-26</SPAN></LI>
  <LI><A title="市国资委出资企业二季度主要指标平稳增长" href="http://www.gzw.dl.gov.cn/news/view_90586.html" 
  target="_blank">市国资委出资企业二季度主要指标平稳增长</A><SPAN>2017-10-26</SPAN></LI>
  <LI><A title="大连市国资委出资企业2016年度经济运行、国有资本保值增值及2015年度业绩考核情况" href="http://www.gzw.dl.gov.cn/news/view_90585.html" 
  target="_blank">大连市国资委出资企业2016年度经济运行、...</A><SPAN>2017-10-26</SPAN></LI>
  <LI><A title="市国资委出资企业一季度主要指标平稳增长" href="http://www.gzw.dl.gov.cn/news/view_89393.html" 
  target="_blank">市国资委出资企业一季度主要指标平稳增长</A><SPAN>2017-05-02</SPAN></LI>
  <LI><A title="2016年市国资委出资企业总体保持平稳发展态势" href="http://www.gzw.dl.gov.cn/news/view_88856.html" 
  target="_blank">2016年市国资委出资企业总体保持平稳发展...</A><SPAN>2017-02-17</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_704_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="市属国有企业2017年上半年扶贫工作简讯" href="http://www.gzw.dl.gov.cn/news/view_89987.html" 
  target="_blank">市属国有企业2017年上半年扶贫工作简讯</A><SPAN>2017-07-28</SPAN></LI>
  <LI><A title="市国资委企业规划发展处对各出资企业《“十三五”发展规划》进行备案" href="http://www.gzw.dl.gov.cn/news/view_88828.html" 
  target="_blank">市国资委企业规划发展处对各出资企业《“十三...</A><SPAN>2017-02-16</SPAN></LI>
  <LI><A title="市国资委召开“拓宽融资渠道，优化资本布局” 专题座谈会" href="http://www.gzw.dl.gov.cn/news/view_88827.html" 
  target="_blank">市国资委召开“拓宽融资渠道，优化资本布局”...</A><SPAN>2017-02-16</SPAN></LI>
  <LI><A title="市国资委赴北京开展招商活动" href="http://www.gzw.dl.gov.cn/news/view_88826.html" 
  target="_blank">市国资委赴北京开展招商活动</A><SPAN>2017-02-16</SPAN></LI>
  <LI><A title="市国资委与大连经济技术开发区签订战略合作协议" href="http://www.gzw.dl.gov.cn/news/view_88824.html" 
  target="_blank">市国资委与大连经济技术开发区签订战略合作协...</A><SPAN>2017-02-16</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_705_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="市国资委通过“走出去”活动，开拓创新视野、学习创新经验" href="http://www.gzw.dl.gov.cn/news/view_90710.html" 
  target="_blank">市国资委通过“走出去”活动，开拓创新视野、...</A><SPAN>2017-11-14</SPAN></LI>
  <LI><A title="2016年市国资委出资企业科技创新总体情况" href="http://www.gzw.dl.gov.cn/news/view_88829.html" 
  target="_blank">2016年市国资委出资企业科技创新总体情况</A><SPAN>2017-02-16</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_726_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV></DIV></DIV>
<DIV class="gzjg">
<DIV class="new">
<UL class="tab">
  <LI class="tab1"><A 
  href="http://www.gzw.dl.gov.cn/corpdirectory.html">企业简介</A></LI>
  <LI class="tab1_1"><A 
  href="http://www.gzw.dl.gov.cn/newsQueryList_708_.html">企业动态</A> </LI>
  <LI class="tab1_1" style="width: 185px;"><A href="http://www.gzw.dl.gov.cn/newsQueryList_721_.html?isGqfz=y">市属国有企业信息公开</A> 
  </LI></UL>
<DIV class="l_show" style="height: 290px; overflow: auto; padding-right: 0px;">
<DIV class="gq-qy">
<H2>港行物流类企业</H2>
<UL>
  <LI><A 
href="http://www.gzw.dl.gov.cn/corpInfoView_187.html">大连港集团有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_193.html">大连国际机场集团有限公司</A></LI></UL></DIV>
<DIV class="gq-qy">
<H2>装备制造类企业</H2>
<UL>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_188.html">大连重工·起重集团有限公...</A></LI>

  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_208.html">大连金州重型机器集团有限...</A></LI></UL></DIV>
<DIV class="gq-qy">
<H2>投融资类企业</H2>
<UL>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_189.html">大连装备投资集团有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_48481.html">大连三寰控股有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_191.html">大连市建设投资集团有限公...</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_195.html">大连市国有资产投资经营集...</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_200.html">大连国有资源投资有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_210.html">大连星海会展旅游集团有限...</A></LI>
  <LI><A href="http://www.gzw.dl.gov.cn/corpInfoView_215.html">大连产权交易所</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_44842.html">大连金融资产交易所</A></LI></UL></DIV>
<DIV class="gq-qy">
<H2>资源类企业</H2>
<UL>
  <LI><A href="http://www.gzw.dl.gov.cn/corpInfoView_197.html">三寰集团有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_198.html">大连盐化集团有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_205.html">中国大连国际经济技术合作...</A></LI></UL></DIV>
<DIV class="gq-qy">
<H2>化工类企业</H2>
<UL>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_190.html">大化集团有限责任公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_211.html">大连染化集团有限公司</A></LI></UL></DIV>
<DIV class="gq-qy">
<H2>公共事业类企业</H2>
<UL>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_194.html">大连公交客运集团有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_199.html">大连市自来水集团有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_201.html">大连市热电集团有限公司</A></LI>
  <LI><A 
href="http://www.gzw.dl.gov.cn/corpInfoView_202.html">大连市供水有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_203.html">大连燃气集团有限公司</A></LI>
  <LI><A 
  href="http://www.gzw.dl.gov.cn/corpInfoView_214.html">大连地铁运营有限公司</A></LI></UL></DIV></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="盐化集团质量、环境以及职业健康管理体系继续保持认证注册资格" href="http://www.gzw.dl.gov.cn/news/view_90812.html" 
  target="_blank">盐化集团质量、环境以及职业健康管理体系继续...</A><SPAN>2017-11-23</SPAN></LI>
  <LI><A title="盐化集团又获两项专利" href="http://www.gzw.dl.gov.cn/news/view_90811.html" 
  target="_blank">盐化集团又获两项专利</A><SPAN>2017-11-23</SPAN></LI>
  <LI><A title="盐化集团多个合理化建议获奖" href="http://www.gzw.dl.gov.cn/news/view_90810.html" 
  target="_blank">盐化集团多个合理化建议获奖</A><SPAN>2017-11-23</SPAN></LI>
  <LI><A title="盐化集团荣获国家发改委信用体系建设AAA等级证书" href="http://www.gzw.dl.gov.cn/news/view_90809.html" 
  target="_blank">盐化集团荣获国家发改委信用体系建设AAA等...</A><SPAN>2017-11-23</SPAN></LI>
  <LI><A title="盐化集团技术中心被评为大连市市级企业技术中心" href="http://www.gzw.dl.gov.cn/news/view_90808.html" 
  target="_blank">盐化集团技术中心被评为大连市市级企业技术中...</A><SPAN>2017-11-23</SPAN></LI>
  <LI><A title="盐化集团召开年度养殖工作会议" href="http://www.gzw.dl.gov.cn/news/view_90807.html" 
  target="_blank">盐化集团召开年度养殖工作会议</A><SPAN>2017-11-23</SPAN></LI>
  <LI><A title="盐化集团召开海盐生产专题研讨会" href="http://www.gzw.dl.gov.cn/news/view_90806.html" 
  target="_blank">盐化集团召开海盐生产专题研讨会</A><SPAN>2017-11-23</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_708_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="重工·起重集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90737.html" 
  target="_blank">重工·起重集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="城建投集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90736.html" 
  target="_blank">城建投集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="地铁集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90735.html" 
  target="_blank">地铁集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="水务集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90734.html" 
  target="_blank">水务集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="大化集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90733.html" 
  target="_blank">大化集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="水务集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90732.html" 
  target="_blank">水务集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_721_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV></DIV></DIV></DIV></DIV>