<DIV class="i_menu_conpad" id="i_nav_pad5">
<DIV class="top-arr5"></DIV>
<DIV class="nav_pad_content line06_pad bg-pic">
<DIV class="gzjg">
<DIV class="mess">
<H2>市国资委“三位一体”监管体系</H2>
<UL>
  <P class="font-yel">一、联席会议机制</P>
  <P>建立监事会牵头，财务审计、纪检监察部门共同参加的监督工作联席会议制度。互相沟通相关工作情况，共同研究分析企业的有关问题。也可以就某一企业的问题召开专题沟通会议，互通监督工作结果。会后形成联席会议简报向委领导汇报。</P>
  <P class="font-yel">二、联合巡查机制</P>
  <P>根据工作需要，开展定期或不定期的联合巡查行动。按照各自分工，检查企业执行法律法规、重大投资、资产重组、干部使用、决策程序、廉政建设等方面情况，建立协同配合机制，形成监督合力。</P>
  <P class="font-yel">三、信息共享机制</P>
  <P>纪检监察部门的纪检监察、巡查报告，财务审计部门的各类检查、审计报告，应及时通报相关企业的监事会。</P></UL></DIV></DIV>
<DIV class="gzjg">
<DIV class="new">
<UL class="tab">
  <LI class="tab1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_703_.html?isGzdt=y">审计监督</A></LI>
  <LI class="tab1_1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_727_.html?isGzdt=y">纪检监察</A></LI>
  <LI class="tab1_1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_723_.html?isGzdt=y">监事会工作</A></LI></UL>
<DIV class="l_show" style="height: 290px;">
<UL class="list-l">
  <LI><A title="市国资委组织召开出资企业债务风险审计调查工作会议" href="http://www.gzw.dl.gov.cn/news/view_89028.html" 
  target="_blank">市国资委组织召开出资企业债务风险审计调查工...</A><SPAN>2017-03-07</SPAN></LI>
  <LI><A title="市国资委完成国投集团领导人员经济责任审计工作" href="http://www.gzw.dl.gov.cn/news/view_88843.html" 
  target="_blank">市国资委完成国投集团领导人员经济责任审计工...</A><SPAN>2017-02-16</SPAN></LI>
  <LI><A title="大连国际机场集团有限公司等4户企业获得“辽宁省诚信示范企业”称号" href="http://www.gzw.dl.gov.cn/news/view_68545.html" 
  target="_blank">大连国际机场集团有限公司等4户企业获得“辽...</A><SPAN>2015-07-28</SPAN></LI>
  <LI><A title="市国资委召开出资企业内部审计工作会议" href="http://www.gzw.dl.gov.cn/news/view_68377.html" 
  target="_blank">市国资委召开出资企业内部审计工作会议</A><SPAN>2015-07-22</SPAN></LI>
  <LI><A title="市国资委四项措施规范中介机构选聘工作" href="http://www.gzw.dl.gov.cn/news/view_67317.html" 
  target="_blank">市国资委四项措施规范中介机构选聘工作</A><SPAN>2015-07-02</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_703_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="热电集团开展党风廉政教育系列活动" href="http://www.gzw.dl.gov.cn/news/view_90309.html" 
  target="_blank">热电集团开展党风廉政教育系列活动</A><SPAN>2017-09-12</SPAN></LI>
  <LI><A title="热电集团组织开展党风廉政建设专题报告" href="http://www.gzw.dl.gov.cn/news/view_89785.html" 
  target="_blank">热电集团组织开展党风廉政建设专题报告</A><SPAN>2017-06-23</SPAN></LI>
  <LI><A title="瓦轴集团召开党风廉政建设工作暨领导干部警示教育大会" href="http://www.gzw.dl.gov.cn/news/view_89593.html" 
  target="_blank">瓦轴集团召开党风廉政建设工作暨领导干部警示...</A><SPAN>2017-05-27</SPAN></LI>
  <LI><A title="市国资委召开全系统党风廉政建设工作暨警示教育大会" href="http://www.gzw.dl.gov.cn/news/view_89465.html" 
  target="_blank">市国资委召开全系统党风廉政建设工作暨警示教...</A><SPAN>2017-05-12</SPAN></LI>
  <LI><A title="热电集团党委传达上级纪委全会精神进行廉政工作部署" href="http://www.gzw.dl.gov.cn/news/view_89031.html" 
  target="_blank">热电集团党委传达上级纪委全会精神进行廉政工...</A><SPAN>2017-03-07</SPAN></LI>
  <LI><A title="热电集团纪委组织召开新调整干部廉政谈话会" href="http://www.gzw.dl.gov.cn/news/view_89030.html" 
  target="_blank">热电集团纪委组织召开新调整干部廉政谈话会</A><SPAN>2017-03-07</SPAN></LI>
  <LI><A title="市国资委“两节”前夕开展警示教育提出“十个严禁”" href="http://www.gzw.dl.gov.cn/news/view_88879.html" 
  target="_blank">市国资委“两节”前夕开展警示教育提出“十个...</A><SPAN>2017-02-17</SPAN></LI>
  <LI><A title="市国资委召开落实中央八项规定精神警示教育大会" href="http://www.gzw.dl.gov.cn/news/view_88607.html" 
  target="_blank">市国资委召开落实中央八项规定精神警示教育大...</A><SPAN>2017-01-04</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_727_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="市国资委监事会开展新一期年度工作实务培训" href="http://www.gzw.dl.gov.cn/news/view_89888.html" 
  target="_blank">市国资委监事会开展新一期年度工作实务培训</A><SPAN>2017-07-11</SPAN></LI>
  <LI><A title="大连市国资委举办监事工作实务培训班" href="http://www.gzw.dl.gov.cn/news/view_88495.html" 
  target="_blank">大连市国资委举办监事工作实务培训班</A><SPAN>2016-12-13</SPAN></LI>
  <LI><A title="市国资委构建“三位一体”监管体系推进阳光国企建设" href="http://www.gzw.dl.gov.cn/news/view_88243.html" 
  target="_blank">市国资委构建“三位一体”监管体系推进阳光国...</A><SPAN>2016-11-17</SPAN></LI>
  <LI><A title="市国资委召开监事会工作会议" href="http://www.gzw.dl.gov.cn/news/view_83197.html" 
  target="_blank">市国资委召开监事会工作会议</A><SPAN>2016-08-01</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_723_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV></DIV></DIV></DIV></DIV>