
<DIV class="i_menu_conpad" id="i_nav_pad6">
<DIV class="top-arr6"></DIV>
<DIV class="nav_pad_content line06_pad bg-pic">
<DIV class="gzjg">
<DIV class="new">
<UL class="tab">
  <LI class="tab1"><A 
  href="http://www.gzw.dl.gov.cn/newsQueryList_710_.html">机关党建</A></LI>
  <LI class="tab1_1"><A 
  href="http://www.gzw.dl.gov.cn/newsQueryList_709_.html">企业党建</A> </LI></UL>
<DIV class="l_show" style="height: 290px;">
<UL class="list-l">
  <LI><A title="市国资委党委召开扩大会议——部署全系统广大党员干部深入学习贯彻党的十九大精神扎实推进国资国企改革发展" href="http://www.gzw.dl.gov.cn/news/view_90560.html" 
  target="_blank">市国资委党委召开扩大会议——部署全系统广大...</A><SPAN>2017-10-24</SPAN></LI>
  <LI><A title="市国资委党委宣传部组织召开企业政治思想工作试点经验交流会" href="http://www.gzw.dl.gov.cn/news/view_90530.html" 
  target="_blank">市国资委党委宣传部组织召开企业政治思想工作...</A><SPAN>2017-10-20</SPAN></LI>
  <LI><A title="国资委组织机关全体党员开展专题活动日—观看电视片《匠心筑梦》" href="http://www.gzw.dl.gov.cn/news/view_90503.html" 
  target="_blank">国资委组织机关全体党员开展专题活动日—观看...</A><SPAN>2017-10-18</SPAN></LI>
  <LI><A title="市国资委深化“两学一做”学习教育心得体会展" href="http://www.gzw.dl.gov.cn/news/view_90426.html" 
  target="_blank">市国资委深化“两学一做”学习教育心得体会展</A><SPAN>2017-09-30</SPAN></LI>
  <LI><A title="市国资委把“两学一做”学习教育与欢庆国庆节日相结合广泛开展党员干部培训" href="http://www.gzw.dl.gov.cn/news/view_90425.html" 
  target="_blank">市国资委把“两学一做”学习教育与欢庆国庆节...</A><SPAN>2017-09-30</SPAN></LI>
  <LI><A title="大连市国资委深入庄河市青堆镇元宝房村、大朱村开展定点扶贫" href="http://www.gzw.dl.gov.cn/news/view_90254.html" 
  target="_blank">大连市国资委深入庄河市青堆镇元宝房村、大朱...</A><SPAN>2017-09-01</SPAN></LI>
  <LI><A title="市国资委机关党员干部观看《建军大业》" href="http://www.gzw.dl.gov.cn/news/view_90133.html" 
  target="_blank">市国资委机关党员干部观看《建军大业》</A><SPAN>2017-08-17</SPAN></LI>
  <LI><A title="市国资委组织机关党员干部深入冰山集团、光洋科技集团开展调研" href="http://www.gzw.dl.gov.cn/news/view_90132.html" 
  target="_blank">市国资委组织机关党员干部深入冰山集团、光洋...</A><SPAN>2017-08-17</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_710_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="市国资委组织部到盐化集团督查党建工作" href="http://www.gzw.dl.gov.cn/news/view_90813.html" 
  target="_blank">市国资委组织部到盐化集团督查党建工作</A><SPAN>2017-11-23</SPAN></LI>
  <LI><A title="盐化集团党委召开理论中心组学习扩大会议" href="http://www.gzw.dl.gov.cn/news/view_90786.html" 
  target="_blank">盐化集团党委召开理论中心组学习扩大会议</A><SPAN>2017-11-21</SPAN></LI>
  <LI><A title="大连重工·起重集团董事长丛红到企业旅顺基地宣讲十九大精神" href="http://www.gzw.dl.gov.cn/news/view_90706.html" 
  target="_blank">大连重工·起重集团董事长丛红到企业旅顺基地...</A><SPAN>2017-11-13</SPAN></LI>
  <LI><A title="大化集团公司开展大学习大讨论系列活动" href="http://www.gzw.dl.gov.cn/news/view_90670.html" 
  target="_blank">大化集团公司开展大学习大讨论系列活动</A><SPAN>2017-11-07</SPAN></LI>
  <LI><A title="公交集团青年代表参加“五优”青年文明号授牌仪式" href="http://www.gzw.dl.gov.cn/news/view_90665.html" 
  target="_blank">公交集团青年代表参加“五优”青年文明号授牌...</A><SPAN>2017-11-06</SPAN></LI>
  <LI><A title="市水务集团召开党风廉政建设警示教育专题报告会" href="http://www.gzw.dl.gov.cn/news/view_90659.html" 
  target="_blank">市水务集团召开党风廉政建设警示教育专题报告...</A><SPAN>2017-11-03</SPAN></LI>
  <LI><A title="冰山集团党委、纪委组织领导干部参观大连市反腐倡廉教育基地" href="http://www.gzw.dl.gov.cn/news/view_90658.html" 
  target="_blank">冰山集团党委、纪委组织领导干部参观大连市反...</A><SPAN>2017-11-03</SPAN></LI>
  <LI><A title="公交集团党委中心组（扩大）认真学习贯彻十九大精神" href="http://www.gzw.dl.gov.cn/news/view_90612.html" 
  target="_blank">公交集团党委中心组（扩大）认真学习贯彻十九...</A><SPAN>2017-10-31</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_709_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV></DIV></DIV>
<DIV class="gzjg">
<DIV class="new">
<UL class="tab">
  <LI class="tab1"><A 
  href="http://www.gzw.dl.gov.cn/newsQueryList_729_.html">宣传群团</A></LI>
  <LI class="tab1_1"><A 
  href="http://www.gzw.dl.gov.cn/newsQueryList_711_.html">学习园地</A></LI>
  <LI class="tab1_1" style="width: 185px;"><A href="http://www.gzw.dl.gov.cn/newsQueryList_728_.html">《大连国资》电子版</A> 
  </LI></UL>
<DIV class="l_show" style="height: 290px;">
<UL class="list-l">
  <LI><A title="市国资委党委宣传部与上海企业联合举办管理心理学培训班" href="http://www.gzw.dl.gov.cn/news/view_90629.html" 
  target="_blank">市国资委党委宣传部与上海企业联合举办管理心...</A><SPAN>2017-11-02</SPAN></LI>
  <LI><A title="市国资委党委宣传部组织召开企业政治思想工作试点经验交流会" href="http://www.gzw.dl.gov.cn/news/view_90529.html" 
  target="_blank">市国资委党委宣传部组织召开企业政治思想工作...</A><SPAN>2017-10-20</SPAN></LI>
  <LI><A title="市国资委党委理论学习中心组（扩大）召开专题学习会学习交流谭作钧书记专题辅导报告" href="http://www.gzw.dl.gov.cn/news/view_90470.html" 
  target="_blank">市国资委党委理论学习中心组（扩大）召开专题...</A><SPAN>2017-10-13</SPAN></LI>
  <LI><A title="市国资委召开领导干部大会全面推进“学习讲话，对标上海，解放思想，真抓实干”大学习大讨论活动有力开展" href="http://www.gzw.dl.gov.cn/news/view_90430.html" 
  target="_blank">市国资委召开领导干部大会全面推进“学习讲话...</A><SPAN>2017-09-30</SPAN></LI>
  <LI><A title="市国资委党委中心组（扩大）召开学习贯彻习近平总书记“7.26”重要讲话精神专题学习会" href="http://www.gzw.dl.gov.cn/news/view_90125.html" 
  target="_blank">市国资委党委中心组（扩大）召开学习贯彻习近...</A><SPAN>2017-08-17</SPAN></LI>
  <LI><A title="市国资委举办学习贯彻习近平总书记重要讲话精神企业党员领导干部研讨班" href="http://www.gzw.dl.gov.cn/news/view_90014.html" 
  target="_blank">市国资委举办学习贯彻习近平总书记重要讲话精...</A><SPAN>2017-08-02</SPAN></LI>
  <LI><A title="市国资委召开党委理论学习中心组（扩大）学习会——专题学习中国共产党大连市第十二届委员会第二次全体会议精神" href="http://www.gzw.dl.gov.cn/news/view_89750.html" 
  target="_blank">市国资委召开党委理论学习中心组（扩大）学习...</A><SPAN>2017-06-19</SPAN></LI>
  <LI><A title="关于印发《2017年市国资委系统宣传思想、统战群团工作要点》的通知" href="http://www.gzw.dl.gov.cn/news/view_89433.html" 
  target="_blank">关于印发《2017年市国资委系统宣传思想、...</A><SPAN>2017-05-09</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_729_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="2017年观点性文章学习第三期" href="http://www.gzw.dl.gov.cn/news/view_89139.html" 
  target="_blank">2017年观点性文章学习第三期</A><SPAN>2017-03-17</SPAN></LI>
  <LI><A title="2017年观点性文章学习第二期" href="http://www.gzw.dl.gov.cn/news/view_89098.html" 
  target="_blank">2017年观点性文章学习第二期</A><SPAN>2017-03-14</SPAN></LI>
  <LI><A title="2017年观点性文章学习第一期" href="http://www.gzw.dl.gov.cn/news/view_89097.html" 
  target="_blank">2017年观点性文章学习第一期</A><SPAN>2017-03-14</SPAN></LI>
  <LI><A title="2016年观点性文章学习第十二期" href="http://www.gzw.dl.gov.cn/news/view_89096.html" 
  target="_blank">2016年观点性文章学习第十二期</A><SPAN>2017-03-14</SPAN></LI>
  <LI><A title="2016年观点性文章学习第十一期" href="http://www.gzw.dl.gov.cn/news/view_89095.html" 
  target="_blank">2016年观点性文章学习第十一期</A><SPAN>2017-03-14</SPAN></LI>
  <LI><A title="2016年观点性文章学习第十期" href="http://www.gzw.dl.gov.cn/news/view_89094.html" 
  target="_blank">2016年观点性文章学习第十期</A><SPAN>2017-03-14</SPAN></LI>
  <LI><A title="2016年观点性文章学习第九期" href="http://www.gzw.dl.gov.cn/news/view_89093.html" 
  target="_blank">2016年观点性文章学习第九期</A><SPAN>2017-03-14</SPAN></LI>
  <LI><A title="2016年观点性文章学习第八期" href="http://www.gzw.dl.gov.cn/news/view_89092.html" 
  target="_blank">2016年观点性文章学习第八期</A><SPAN>2017-03-14</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_711_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="《大连国资》第176期" href="http://www.gzw.dl.gov.cn/news/view_88907.html" 
  target="_blank">《大连国资》第176期</A><SPAN>2017-02-20</SPAN></LI>
  <LI><A title="《大连国资》第179期" href="http://www.gzw.dl.gov.cn/news/view_88906.html" 
  target="_blank">《大连国资》第179期</A><SPAN>2017-02-20</SPAN></LI>
  <LI><A title="《大连国资》第178期" href="http://www.gzw.dl.gov.cn/news/view_88905.html" 
  target="_blank">《大连国资》第178期</A><SPAN>2017-02-20</SPAN></LI>
  <LI><A title="《大连国资》第177期" href="http://www.gzw.dl.gov.cn/news/view_88904.html" 
  target="_blank">《大连国资》第177期</A><SPAN>2017-02-20</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_728_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV></DIV></DIV></DIV></DIV>
<DIV class="i_menu_conpad" id="i_nav_pad7">
<DIV class="top-arr7"></DIV>
<DIV class="nav_pad_content line05_pad">
<DIV class="new" style="width: 670px; float: left;">
<UL class="tab">
  <LI class="tab1"><A 
  href="http://www.gzw.dl.gov.cn/newsQueryList_670_.html">办事大厅</A> </LI>
  <LI class="tab1_1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_565_.html?isbgxz=no">文件下载</A> 
  </LI>
  <LI class="tab1_1"><A href="http://www.gzw.dl.gov.cn/newsQueryList_565_.html?isbgxz=yes">表格下载</A> 
  </LI></UL>
<DIV class="l_show" style="height: 290px; padding-right: 8px;">
<UL class="list-l" style="width: 400px; float: left;">
  <LI><A title="企业国有资产产权界定办理指引" href="http://www.gzw.dl.gov.cn/news/view_70237.html" 
  target="_blank">企业国有资产产权界定办理指引</A><SPAN>2015-09-04</SPAN></LI>
  <LI><A title="企业国有资产产权登记办理指引" href="http://www.gzw.dl.gov.cn/news/view_61077.html" 
  target="_blank">企业国有资产产权登记办理指引</A><SPAN>2014-09-19</SPAN></LI>
  <LI><A title="出资企业工资总额调整备案指引" href="http://www.gzw.dl.gov.cn/news/view_61097.html" 
  target="_blank">出资企业工资总额调整备案指引</A><SPAN>2014-09-19</SPAN></LI>
  <LI><A title="国有控股上市公司（境内）实施股权激励办理指引" href="http://www.gzw.dl.gov.cn/news/view_61098.html" 
  target="_blank">国有控股上市公司（境内）实施股权激励办...</A><SPAN>2014-09-19</SPAN></LI>
  <LI><A title="清产核资办理指引" href="http://www.gzw.dl.gov.cn/news/view_61398.html" 
  target="_blank">清产核资办理指引</A><SPAN>2014-09-19</SPAN></LI>
  <LI><A title="限额以上资产损失财务核销办理指引" href="http://www.gzw.dl.gov.cn/news/view_61397.html" 
  target="_blank">限额以上资产损失财务核销办理指引</A><SPAN>2014-09-19</SPAN></LI>
  <LI><A title="企业改制财务审计备案指引" href="http://www.gzw.dl.gov.cn/news/view_61400.html" 
  target="_blank">企业改制财务审计备案指引</A><SPAN>2014-09-19</SPAN></LI>
  <LI><A title="执行企业会计准则办理指引" href="http://www.gzw.dl.gov.cn/news/view_61401.html" 
  target="_blank">执行企业会计准则办理指引</A><SPAN>2014-09-19</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_670_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL>
<UL class="bsdt">
  <LI class="i1"><A href="http://www.gzw.dl.gov.cn/login.html">重点项目投资<BR>        
                         申报通道</A></LI>
  <LI class="i2"><A href="http://www.gzw.dl.gov.cn/login.html" 
  target="_blank">信息化建设项目<BR>                               申报通报</A></LI>
  <LI class="i3"><A href="http://www.gzw.dl.gov.cn/login.html" 
  target="_blank">法律风险管控数据<BR>                               报送通道</A></LI>
  <LI class="i4"><A href="http://192.168.102.21/GovPlatform" 
  target="_blank">财务数据上报系统                                </A></LI></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="大连重工·起重集团审议并通过集团公司党委大学习大讨论实施" href="http://www.gzw.dl.gov.cn/news/view_90492.html" 
  target="_blank">大连重工·起重集团审议并通过集团公司党委大...</A><SPAN>2017-10-16</SPAN></LI>
  <LI><A title="公交集团党委组织走访慰问困难党员" href="http://www.gzw.dl.gov.cn/news/view_89974.html" 
  target="_blank">公交集团党委组织走访慰问困难党员</A><SPAN>2017-07-26</SPAN></LI>
  <LI><A title="公交集团庆“七一”诗歌朗诵比赛预赛精彩上演" href="http://www.gzw.dl.gov.cn/news/view_89631.html" 
  target="_blank">公交集团庆“七一”诗歌朗诵比赛预赛精彩上演</A><SPAN>2017-06-06</SPAN></LI>
  <LI><A title="公交集团汽车五分公司召开2017年第一季度经济活动分析暨签状大会" href="http://www.gzw.dl.gov.cn/news/view_89439.html" 
  target="_blank">公交集团汽车五分公司召开2017年第一季度...</A><SPAN>2017-05-10</SPAN></LI>
  <LI><A title="大连华锐重工集团股份有限公司2处房产转让项目" href="http://www.gzw.dl.gov.cn/news/view_89292.html" 
  target="_blank">大连华锐重工集团股份有限公司2处房产转让项...</A><SPAN>2017-04-18</SPAN></LI>
  <LI><A title="大型电视专题片——毛丰美" href="http://www.gzw.dl.gov.cn/news/view_83277.html" 
  target="_blank">大型电视专题片——毛丰美</A><SPAN>2016-08-02</SPAN></LI>
  <LI><A title="评估备案申请表表格" href="http://www.gzw.dl.gov.cn/news/view_65947.html" 
  target="_blank">评估备案申请表表格</A><SPAN>2015-05-19</SPAN></LI>
  <LI><A title="关于做好2014年度企业国有资产统计及报表编制工作的通知" href="http://www.gzw.dl.gov.cn/news/view_63597.html" 
  target="_blank">关于做好2014年度企业国有资产统计及报表...</A><SPAN>2015-01-16</SPAN></LI><A 
  style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_565_.html" 
  target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="l_show" style="height: 290px; display: none;">
<UL class="list-l">
  <LI><A title="市国资委专家申请表" href="http://www.gzw.dl.gov.cn/news/view_70157.html" 
  target="_blank">市国资委专家申请表</A><SPAN>2015-09-02</SPAN></LI>
  <LI><A title="大连市政府信息公开申请表" href="http://www.gzw.dl.gov.cn/news/view_69977.html" 
  target="_blank">大连市政府信息公开申请表</A><SPAN>2015-08-28</SPAN></LI>
  <LI><A title="出资企业下属子企业权益情况表" href="http://www.gzw.dl.gov.cn/news/view_66319.html" 
  target="_blank">出资企业下属子企业权益情况表</A><SPAN>2015-06-03</SPAN></LI>
  <LI><A title="资产损失核销审批表" href="http://www.gzw.dl.gov.cn/news/view_65946.html" 
  target="_blank">资产损失核销审批表</A><SPAN>2015-05-19</SPAN></LI>
  <LI><A title="资产评估项目核准申请表" href="http://www.gzw.dl.gov.cn/news/view_65945.html" 
  target="_blank">资产评估项目核准申请表</A><SPAN>2015-05-19</SPAN></LI>
  <LI><A title="母公司及子公司（二级产权企业）权益情况表" href="http://www.gzw.dl.gov.cn/news/view_65944.html" 
  target="_blank">母公司及子公司（二级产权企业）权益情况表</A><SPAN>2015-05-19</SPAN></LI>
  <LI><A title="改制企业延伸审计结果确认表" href="http://www.gzw.dl.gov.cn/news/view_65943.html" 
  target="_blank">改制企业延伸审计结果确认表</A><SPAN>2015-05-19</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_565_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV></DIV>
<DIV class="zxsl">
<UL class="top">
  <LI class="t">在线受理</LI>
  <LI class="fk"><A style='width: 125px; height: 33px; display: block; background-image: url("__HOME__/images/btn_fk.gif");' 
  href="http://www.gzw.dl.gov.cn/complaintsUserFormReply_.html"></A></LI></UL>
<UL class="con">                        您好，欢迎使用国资在线系统，请填写如下表单：                 
          
  <FORM class="slbd" id="slbd" action="/complaintsUserForm_.html" 
method="POST"><INPUT name="title" class="slbd-1 userinput">                    
     
<TEXTAREA name="complaintsAbout" class="slbd-3 userinput" type="text"></TEXTAREA> 
                          <!-- <input type="text" class="slbd-4-yzmi userinput" name="verifiedCode"  style="float:left;"/> --> 
                                                    验证码：　<INPUT name="verifyCode" class="slbd-4-yzmi userinput" style="width: 80px;" type="text" maxlength="4">&nbsp;<IMG 
  width="53" height="17" id="img_verifyCode" src="__HOME__/images/verifyConsultCode.jpg">&nbsp;&nbsp;<A 
  id="new_verifycode" 
  href="__HOME__/images/verifyConsultCode.jpg">看不清，换一张</A> 
<BR><INPUT class="btn" id="sqformSubmit" type="button" value="提交诉求">           
                
  <DIV class="txbd3"></DIV></FORM></UL></DIV></DIV></DIV>
<DIV class="i_menu_conpad" id="i_nav_pad8">
<DIV class="top-arr8"></DIV>
<DIV class="nav_pad_content line07_pad"><IMG src="__HOME__/images/pic_ewm.jpg"></DIV></DIV>
<DIV class="gd_xx">
<DIV class="zdly gd-title">
<UL class="topt">
  <LI class="bt" style="width: 200px;">市属国有企业信息公开</LI></UL>
<UL class="con list">
  <LI><A title="重工·起重集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90737.html" 
  target="_blank">重工·起重集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="城建投集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90736.html" 
  target="_blank">城建投集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="地铁集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90735.html" 
  target="_blank">地铁集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="水务集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90734.html" 
  target="_blank">水务集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="大化集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90733.html" 
  target="_blank">大化集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI>
  <LI><A title="水务集团领导人员职务变动情况" href="http://www.gzw.dl.gov.cn/news/view_90732.html" 
  target="_blank">水务集团领导人员职务变动情况</A><SPAN>2017-11-16</SPAN></LI><A style="margin-top: 10px; display: block;" 
  href="http://www.gzw.dl.gov.cn/newsQueryList_721_.html" target="_blank" align="left"><FONT 
  color="#429bbd">更多&gt;&gt;</FONT></A></UL></DIV>
<DIV class="tzgg gd-title">
<UL class="topt">
  <LI class="bt">通知公告</LI></UL>
<UL class="con list">
  <UL>
    <LI class="text"><A title="大连市水务集团职业经理人等岗位招聘公告" href="http://www.gzw.dl.gov.cn/news/view_90785.html" 
    target="_blank">大连市水务集团职业经理人等岗位招聘...</A>  	 <SPAN>2017-11-21</SPAN>  	 </LI>
    <LI class="text"><A title="大连公交客运集团有限公司报废资产转让项目" href="http://www.gzw.dl.gov.cn/news/view_90749.html" 
    target="_blank">大连公交客运集团有限公司报废资产转...</A>  	 <SPAN>2017-11-17</SPAN>  	 </LI>
    <LI class="text"><A title="国资委党建工作阵地，建设督导检查情况通报" href="http://www.gzw.dl.gov.cn/news/view_90727.html" 
    target="_blank">国资委党建工作阵地，建设督导检查情...</A>  	 <SPAN>2017-11-16</SPAN>  	 </LI>
    <LI class="text"><A title="瓦房店轴承集团有限责任公司2处房产转让项目" href="http://www.gzw.dl.gov.cn/news/view_90687.html" 
    target="_blank">瓦房店轴承集团有限责任公司2处房产...</A>  	 <SPAN>2017-11-10</SPAN>  	 </LI>
    <LI class="text"><A title="瓦房店轴承集团有限责任公司1处房产转让项目" href="http://www.gzw.dl.gov.cn/news/view_90686.html" 
    target="_blank">瓦房店轴承集团有限责任公司1处房产...</A>  	 <SPAN>2017-11-10</SPAN>  	 </LI>
    <LI class="text"><A title="关于开展“我为大连国资国企改革发展献良策”征集活动的情况说明" href="http://www.gzw.dl.gov.cn/news/view_90536.html" 
    target="_blank">关于开展“我为大连国资国企改革发展...</A>  	 <SPAN>2017-10-20</SPAN>  
    	 </LI><A style="margin-top: 10px; display: block;" href="http://www.gzw.dl.gov.cn/newsQueryList_567_.html" 
    target="_blank" align="left"><FONT 
color="#429bbd">更多&gt;&gt;</FONT></A></UL></UL></DIV>
<DIV class="bsfw">
<UL class="top">办事服务               </UL>
<UL class="con">
  <LI><A href="http://www.gzw.dl.gov.cn/newsQueryList_670_.html"><IMG src="__HOME__/images/service_i1.png"></A></LI>
  <LI><A href="http://www.gzw.dl.gov.cn/newsQueryList_565_.html?isbgxz=no"><IMG 
  src="__HOME__/images/service_i2.png"></A></LI>
  <LI><A href="http://mail.dl.gov.cn/gov_default.jsp"><IMG src="__HOME__/images/service_i3.png"></A></LI>
  <LI><A href="http://www.gzw.dl.gov.cn/complaintsUserForm_.html"><IMG src="__HOME__/images/service_i4.png"></A></LI>
  <LI><A href="http://www.gzw.dl.gov.cn/complaintsUserFormReply_.html"><IMG src="__HOME__/images/service_i5.png"></A></LI>
  <LI><A href="http://www.gzw.dl.gov.cn/voteContentQueryList.html"><IMG src="__HOME__/images/service_i6.png"></A></LI></UL></DIV><BR 
class="blank">
<DIV class="clear"></DIV>
<DIV class="dynamic-pic">
<DIV id="banner1">
<DIV id="demoImgRun">
<UL>
  <LI style="width: 315px;"><A href="http://www.gzw.dl.gov.cn/zoneImpressionView.html?modelTypeId=4028840f2ffc8753012ffca6e30d0007" 
  target="_blank"><IMG alt="专题图片" 
  src="__HOME__/images/zt_1.jpg"></A></LI>
  <LI style="width: 315px;"><A href="http://www.gzw.dl.gov.cn/newsQueryList_533_.html" 
  target="_blank"><IMG src="__HOME__/images/zt_2.jpg"></A></LI>
  <LI style="width: 315px;"><A href="http://www.gzw.dl.gov.cn/login.html" 
  target="_blank"><IMG src="__HOME__/images/zt_3.jpg"></A></LI>
  <LI style="width: 315px;"><A href="http://www.gzw.dl.gov.cn/login.html" 
  target="_blank"><IMG src="__HOME__/images/zt_4.jpg"></A></LI>
  <LI style="width: 315px;"><A href="http://www.gzw.dl.gov.cn/newsQueryList_671_.html" 
  target="_blank"><IMG 
src="__HOME__/images/zt_5.jpg"></A></LI></UL></DIV></DIV></DIV></DIV>